.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.raywell-container {
    padding: 2px 16px;
}



.raywell-title {
    font-size: 22px;
    line-height: 1.23;
    color: rgb(48, 48, 48);
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
    height: auto;
}

.raywell-descr {
    font-size: 13px;
    line-height: 1.45;
    font-weight: 400;
    color: #777;
    text-align: center;
    height: auto;
    padding-bottom: 15px;
}

@media screen and (max-width: 767px) {

.raywell-item:not(:last-child) {
    margin: 20px 0;
}

.procedures-title {
    padding-bottom: 10px;
}

.raywell-list {
    margin-bottom: 45px;
    padding-bottom: 50px;
}
}
    

@media screen and (min-width: 768px) {
.raywell-list {
       display: flex;
       flex-wrap: wrap;
       padding: 20px;
       margin: -10px;
       justify-content: center;
    }

.raywell-container {
    padding: 0;
}

.raywell-item {
    width: calc(90%/3);
    margin: 10px;
}

.procedures-title {
    padding-bottom: 0;
}

    
}

@media screen and (min-width: 1200px) {
.raywell-list {
    margin-bottom: 20px;
}
.raywell-img {
height: 307px;
}
}