.vegan {
  padding-top: 30px;
}

.vegan__title {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 1.23;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .vegan__title {
    font-size: 38px;
  }
}

.vegan__subtitle {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .vegan__subtitle {
    font-size: 22px;
  }
}

.vegan__video {
  width: auto;
  height: auto;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .vegan__video {
    width: 688px;
    height: 432px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .vegan__video {
    width: 960px;
    height: 540px;
  }
}
