.brands {
  padding-top: 35px;
  padding-bottom: 0px;
}
.brands_title {
  padding-top: 3px;
  padding-bottom: 22px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 2.5px;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .brands_title {
    font-size: 24px;
  }
}

.brands_img {
  padding-top: 0px;
  padding-bottom: 30px;
  width: 100%;
}

.brands_map {
  width: 100%;
}
