:root {
  --main-grey: #999999;
  --main-black: #000000;
}

@font-face {
  font-family: "Corbel", sans-serif;
  src: url("http://fonts.cdnfonts.com/css/corbel");
}
@import "normalize.css";
@import "sanitize.css";

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  font-family: "Corbel", sans-serif;
}

* {
  font-family: "Corbel", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  justify-content: space-between;
}

input {
  cursor: pointer;
}
